<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="../assets/logo1.jfif" style="height: 50px;width:50px;border-radius:50px;margin-left:10px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <h4 class="text-white">Employee Business</h4>
        </li>
        
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>&nbsp;
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModal" style="padding:10px ;">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
</nav>


<div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:200px">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home" style="font-size:20px">&nbsp;&nbsp;Home</i></a>
<a href="#" class="w3-bar-item w3-button"><i class="fa fa-user" style="font-size:20px">&nbsp;Employees</i></a> 
<a href="#" class="w3-bar-item w3-button"><i class="fa fa-users" aria-hidden="true" style="font-size:20px">&nbsp;&nbsp;Customers</i></a> 
<a href="#" class="w3-bar-item w3-button"><i class="fa fa-lock" aria-hidden="true" style="font-size:20px">&nbsp;&nbsp;Login</i></a> 
<a href="#" class="w3-bar-item w3-button"><i class="fa fa-registered" style="font-size:20px">&nbsp;&nbsp;Register</i></a>
<a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope" style="font-size:20px">&nbsp;&nbsp;Staff</i></a> 
<a href="#" class="w3-bar-item w3-button"><i class="fa fa-file-o" style="font-size:20px">&nbsp;&nbsp;Statements</i></a>

</div>

<div class="w3-container" style="background-image:url(../assets/bg1.webp);margin-top: 75px;">
  <div class="row">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
<div class="container" style="margin-top:30px;">
  <div class="row">
      <div class="col-md-offset-1 col-md-10" >
          <div class="panel" style="height:640px;overflow-y: scroll;margin-left: 220px;width: 950px;">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col col-sm-3 col-xs-12">
                          <h4 class="title">Employee <span>List</span></h4>
                      </div>
                      <div class="col-sm-9 col-xs-12 text-right">
                          <div class="btn_group">
                              <input type="text" class="form-control" placeholder="Search">
                              <button class="btn btn-default" title="Add Employee" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-plus"></i></button>
                              <button class="btn btn-default" title="Update/Edit"><i class="fa fa-edit"></i></button>
                              <button class="btn btn-default" title="Delete"><i class="fa fa-trash"></i></button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel-body table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Full Name</th>
                              <th>Age</th>
                              <th>Job Title</th>
                              <th>City</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let user of userList;let idx=index">
                            <td><i class="fa fa-user">&nbsp;&nbsp;</i>{{user.name}}</td>
                            <td><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{user.age}}</td>
                            <td><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;{{user.job}}</td>  
                            <td><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp;{{user.city}}</td>
                            <td>
                              <button type="button" class="btn btn-warning">
                                <i class="fa fa-pencil" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#myModal" (click)="edit(idx)"></i>
                              </button>&nbsp;
                              <button type="button" class="btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true" (click)="delete(idx)"></i>
                              </button>
                            </td>
                              
                          </tr>
                        
                      </tbody>
                  </table>
              </div>
              <div class="panel-footer">
                  
              </div>
          </div>
      </div>
  </div>
</div>

    




</div>
  </div>


  <div class="modal" id="myModal" style="margin-left: 550px;margin-top: 60px;width:460px">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header" style="background-color: navy;color: white;">
          <h3 class="modal-title text-center" style="margin-left: 50px;color: white;">Employee Registration Form</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" style="background-color: white;"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" style="background-color:gainsboro;background-image: url(../assets/bg6.jfif);">
          <div class="row">
          <div class="col-lg-1">

          </div>
          <div class="col-lg-10">
          <div class="row">
          <div class="col-lg-12">
            <label class="form-label" for="form3Example8" style="margin-top: -50px;"><b>Employee Name:</b></label>
            <input type="text" id="form3Example8" class="form-control form-control-lg" [(ngModel)]="name"/>
            
          </div>
          <div class="col-lg-12" style="margin-top: 15px">
            <label class="form-label" for="form3Example8"><b>Employee Age:</b></label>
            <input type="text" id="form3Example8" class="form-control form-control-lg" [(ngModel)]="age" />
            
          </div>
          <div class="col-lg-12" style="margin-top: 15px">
            <label class="form-label" for="form3Example8"><b>Job Title:</b></label>
            <input type="text" id="form3Example8" class="form-control form-control-lg" [(ngModel)]="job" />
            
          </div>
          <div class="col-lg-12" style="margin-top: 15px">
            <label class="form-label" for="form3Example8"><b>Employee City:</b></label>
            <input type="text" id="form3Example8" class="form-control form-control-lg" [(ngModel)]="city" />
            
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer justify-content-end" style="margin-top: 15px">

          <button type="button" class="btn btn-danger" (click)="clear()" >Cancel</button>
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="update()" *ngIf="isEditBtnClicked=='yes'" [disabled]="name == '' || age == '' || job == '' || city == ''" >Update</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="submit()" *ngIf="isEditBtnClicked=='no'" [disabled]="name == '' || age == '' || job == '' || city == ''" >Submit</button>
        </div>
  
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  </div>
  </div>
  </div>
  
  <!-- Footer -->
  <!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color:rgb(18, 18, 67);margin-top: 30px;">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-3 mb-4"></div>
      <div class="col-md-5 mb-4">

        <!-- Form -->
        <form class="form-inline">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
            aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>
        <!-- Form -->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <form class="input-group">
          <input type="text" class="form-control form-control-sm" placeholder="Your email"
            aria-label="Your email" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-white my-0" type="button" style="color: white;">Sign up</button>
          </div>
        </form>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright:
    <a href="/" style="color: white;"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  

  